nav 
    font-family: 'Rubik', sans-serif
    font-weight: 800
    padding-bottom: 2.5em
    
    
ul 
    list-style: none
    display: flex
    justify-content: space-around
    
    
#panfit 
    flex-basis: 5%
    font-size: 40pt
    text-decoration: none

    :hover
        color: white
    a
        text-decoration: none

.item
    flex-basis: 15%
    vertical-align: bottom

a:visited 
    color: white

a:hover
    color: red

.logged-in
    margin-top: 2em
    margin-bottom: 0
    text-align: center

#logout
    position: absolute
    top: 1em
    right: 1em

@media screen and (min-width: 0px) and (max-width: 600px)
    ul
        display: flex
        flex-direction: column
        justify-content: center
        text-align: center


    ul:hover .item
        display: block


    nav
        display: flex
        justify-content: center

    .item
        display: none
        

        